<footer class="section section-danger">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="">Contact us</p>
        <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
        <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
        <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
        <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
      </div>
    </div>
  </div>
  <p></p>
</footer>

<!--/div> end section div in navigation.ejs -->