<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--사업자 브랜드명 -->
      <%if(locals.user_session && user_session.mvno_cd != "M00035"){%>  
      <a class="navbar-brand" href="/main"><img src="/images/header/Logo_CI_Emart.png" class="title-ci"></a>
      <%}else{%>
      <a class="navbar-brand" href="/main"><img src="/images/header/Logo_CI_SKTL.png" class="title-ci"></a>
      <%}%>      
    </div>

    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">고객계정번호</a></li>-->
        <li><a href="/cust_info"><i class="fa fa-user fa-fw"></i> My Info</a></li>
        <li><a href="/prod_chg"><i class="fa fa-tags fa-fw"></i> 요금제</a></li>
        <!--<li><a href="/num_mng/goldList"><i class="fa fa-calendar-o fa-fw"></i> 골드번호이벤트</a></li>-->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-calendar-o fa-fw"></i> 이벤트<span class="caret"></span></a>
          <ul class="dropdown-menu">
          <%if(locals.user_session && user_session.mvno_cd != "M00035"){%>  
                <li><a href="/num_mng/goldList">GOLD번호 응모</a></li>
                <li><a class="disabled">쿠폰받고 E마트로</a></li>
                <li class="divider"></li>
                <li><a href="/evnt_mng/evnt_rslt">이벤트 응모현황</a></li>
          <%}else{%>
                <li><a href="/num_mng/goldList">골드번호 EVENT</a></li>
                <li><a class="disabled">데이터쿠폰 받기</a></li>
                <li class="divider"></li>
                <li><a href="/evnt_mng/evnt_rslt">이벤트 응모현황</a></li>
          <%}%>      
          </ul>
        </li>

        <!--<li><a href="/css"><i class="fa fa-instagram fa-fw"></i> CSS</a></li>-->
        <!--<li><a href="/css.black"><i class="fa fa-instagram fa-fw"></i> CSS_BLACK</a></li>-->
        <!--<li><a href="#"><i class="fa fa-instagram fa-fw"></i> 이용안내</a></li>-->
        <!--<li class="dropdown">-->
        <!--  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-instagram fa-fw"></i> 이용안내<span class="caret"></span></a>-->
        <!--  <ul class="dropdown-menu">-->
                <li><a class="disabled"><i class="fa fa-file-o fa-fw"></i> 공지사항</a></li>
                <li><a class="disabled"><i class="fa fa-question fa-fw"></i> 질문하기</a></li>
      <!--    </ul>-->
      <!--  </li>-->
        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> LOGOUT</a></li>
      <!--</ul>-->
      <!--<form class="navbar-form navbar-left" role="search">-->
      <!--  <div class="form-group">-->
      <!--    <input type="text" class="form-control" placeholder="Search">-->
      <!--  </div>-->
      <!--  <button type="submit" class="btn btn-default">조회</button>-->
      <!--</form>-->
    </div>
  </div>
</nav>
