<!doctype html>
<html>
  
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <style>
      .container {
   
      }
      
      .row {
        
      }
      
      .right{
        float:right;
        text-align:right;

      }
  </style>
  
  <script type="text/javascript">
      var confirmCheck = false;
    
      function authSendOnclick() {
        alert("전송하였습니다.");
        document.getElementById("btnConfirm").disabled = false;
      }
  </script>
  
</head>

<body>
     
    <form class="form-inline" action="/login" method="post" onSubmit="return loginSubmit()">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="./routes/cust_info/custInfo">BACK</a>
            <span class="navbar-brand">MY이동전화 가입정보 상세</span>
          </div>
        </div>
      </nav>       
     
        <div class="container">
            나의 회선번호<span class="badge right">010-29**-49**</span>
            <p></p>
            <div class="panel panel-default">
              <div class="panel-heading">
                <p class="text-danger">SK MVNO 서비스를 사용하시는 고객님의 기본 가입정보 입니다.</p>
              </div>
              <div class="panel-body">
              <table class="table table-striped table-hover ">
                <tbody>
                  <tr>
                    <td>고객명</td>
                    <td>이*진</td>
                  </tr>
                  <tr>
                    <td>최종개통유형</td>
                    <td>기기변경</td>
                  </tr>
                  <tr>
                    <td>최종개통일자</td>
                    <td>****/**/**</td>
                  </tr>
                  <tr>
                    <td>단말정보</td>
                    <td>아이폰6S 플러스</td>
                  </tr>
                  <tr>
                    <td>최종개통대리점</td>
                    <td>***트윅스(본점)</td>
                  </tr>
                  <tr>
                    <td>가입비</td>
                    <td>39,600원(분납종료)</td>
                  </tr>
                </tbody>
              </table> 
              </div>  
            </div>
    </form>
</body>
</html>