<!doctype html>
<html>
  
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <style>
      .container {

      }
      
      .row {
        
      }
      
      .right{
        float:right;
        text-align:right;

      }
  </style>
  
  <script type="text/javascript">
      var confirmCheck = false;
    
      function authSendOnclick() {
        alert("전송하였습니다.");
        document.getElementById("btnConfirm").disabled = false;
      }
  </script>
  
<script>
  function process (){
    document.evntForm.submit();
  }
</script>
  
</head>

<body>

<% include ../partials/navigation.ejs %>

<div class="container">
  <p>
    <h3>step1. 골드번호 유형선택</h3>
  <ul>
      <li>
          <a href="/num_mng/gold_list/1">AAAA</a>
      </li>
      <li>
          <a href="/num_mng/gold_list/2">AAAB</a>
      </li>
      <li>
          <a href="/num_mng/gold_list/3">AABB</a>
      </li>
      <li>
          <a href="/num_mng/gold_list/4">ABAB</a>
      </li>
      <li>
          <a href="/num_mng/gold_list/5">ABBB</a>
      </li>
      <li>
          <a href="/num_mng/gold_list/6">국번동일</a>
      </li>
      <li>
          <a href="/num_mng/gold_list/7">기타</a>
      </li>
  </ul>
  </p>
</div>

<div class="container">
  <form name="evntForm" action="/evnt_mng" method="get">
    <p>
      <h3>step2. 골드번호 선택</h3>
      <ul>
        <% if(data.length >= 1) {  %>
        
            <% data.forEach(function(e){ %>
              <label>
                <input type="radio" name="evntradio" value="<%= e.svc_num %>"><%= e.svc_num %>
              </label>
              <br/>
            <% })  %>
            
            <button onclick="process()">선택완료</button>
            
        <% } %>
      </ul>
    </p>
  </form>
</div>

    <div class="section">
      <% include ../partials/footer.ejs %>
    </div>

</body>
</html>