<!doctype html>
<html>
  
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/stylesheets/bootstrap.css">

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


<script language="javascript">
  //뒤로가기
  function page_back(){
    if (typeof goto_url == "undefined"){
      window.location.href = "/";    
    }else{
      window.location.href = goto_url;    
    } 
  }
  //페이지 이동
  function goto_page(url){
      window.location.href = url;    
  }
</script>


  <style>
      .container {

      }
      
      .row {
        
      }
      
      .right{
        float:right;
        text-align:right;

      }
  </style>

  
</head>

<body>
  
<% include partials/navigation.ejs %>

<div class="container">

<h3>[bootstrap.css 샘플]</h3>
<p></p>
<a href="#" class="btn btn-default">btn btn-default</a>
<a href="#" class="btn btn-primary">btn btn-primary</a>

                <p class="text-danger">
                  <label>
                    <input type="radio" name="achvradio" value="1">&nbsp;010신규
                  </label>
                  <label>
                    <input type="radio" name="achvradio" value="2">&nbsp;번호이동
                  </label>
                  <label>
                    <input type="radio" name="achvradio" value="3">&nbsp;기기변경
                  </label>
                  <label>
                    <input type="radio" name="achvradio" value="4">&nbsp;번호변경
                  </label>
                </p>
                
<p></p>
<div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default">btn-group btn-group-justified btn btn-default</a>
  <a href="#" class="btn btn-default">btn-group btn-group-justified btn btn-default</a>
  <a href="#" class="btn btn-default">btn-group btn-group-justified btn btn-default</a>
</div>

<p></p>
<div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-primary">btn-group btn-group-justified btn btn-primary</a>
  <a href="#" class="btn btn-primary">btn-group btn-group-justified btn btn-primary</a>
  <a href="#" class="btn btn-primary">btn-group btn-group-justified btn btn-primary</a>
</div>

<p></p>
<h2 class="text-dafualt">h2 text-dafualt</h2>
<h2 class="text-primary">h2 text-primary</h2>
<p class="text-muted">text-muted</p>
<p class="text-primary">text-primary</p>


<p></p>
<div class="alert alert-primary">
  <strong>div alert-primary</strong> <a href="#" class="alert-link">alert-link</a> and try submitting again.
</div>
<div class="alert alert-danger">
  <strong>div alert-danger</strong> <a href="#" class="alert-link">alert-link</a> and try submitting again.
</div>

<p></p>
<ul class="nav nav-pills">
  <li class="active"><a href="#">nav nav-pills active<span class="badge">badge</span></a></li>
  <li><a href="#">nav nav-pills<span class="badge">badge</span></a></li>
</ul>

<p></p>
<span class="label label-dafualt">label label-dafualt</span>
<span class="label label-primary">label label-primary</span>

<p></p>
<div class="progress progress-striped active">
  progress-bar
  <div class="progress-bar" style="width: 45%"></div>
</div>

<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">badge</span>
    list-group
  </li>
  <li class="list-group-item">
    <span class="badge">badge</span>
    list-group
  </li>
  <li class="list-group-item">
    <span class="badge">badge</span>
    list-group
  </li>
</ul>

<div class="panel panel-default">
  <div class="panel-heading">panel panel-default</div>
  <div class="panel-body">
    Panel content
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">panel panel-primary</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>

<div class="well">
  well
</div>




</div>

    <div class="section">
      <% include partials/footer.ejs %>
    </div>

</body>
</html>