@import url("https://fonts.googleapis.com/earlyaccess/jejugothic.css");

.container-fluid {
  margin-bottom: 15px;
}

.sitew {
  max-width: 1080px;
  padding: 0px 0px;
  margin: auto;
}
.sitew_big {
  max-width: 1100px;
  padding: 0px;
  margin: auto;
}

@media (min-width: 600px) {
  .container-fluid {
    margin-bottom: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  
}

.img-responsive {
  height: auto;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.img-wide-responsive {
  height: auto;
  max-width: 100%;
  max-height: 240px;
}

.span-use-full {
  float:right;
  margin-top:-12px;
  margin-bottom:10px;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  padding : 5px;
}

.main_info_box {
  background: #0abab5; 
  height: 250px;
}

.border0 {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.cust_div {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2px;
}

.first {
  margin-top:20px; 
  margin-bottom:10px
}

.mvno_info {
  color: #ffffff;
}

.cust_info {
  color: #ffffff;
}

.cust_info > a {
  color: #0e0d30;
}

.ibox {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.bbox {
  display: block;
  position: relative;
}

.babox {
  display: block;
  position: absolute;
}

.baboxfull {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
}

.cust_progbar_box {
  width: 32%;
  padding-top: 30px;
  padding-right: 12px;
}

@media (max-width: 600px) {
  .cust_progbar_box {
    padding-top: 3px;
    width: 100%;
  }
  
  .progress {
    margin-bottom: 5px;
  }
}

.progress-bar-info {
  background-color: #0e0d30;/*#0e0d30;*/
}

.prog_data {
  float: right;
  margin-top: -19px;
}

h6 {
  margin-top: 8.5px;
  margin-bottom: 5.5px;
}

.task_box_holder {
  width: 33%;
}

@media (max-width: 900px){
  .task_box_holder {
    width: 49%;
  }
}

.task_box_padding {
  padding: 10px;  
}

@media(max-width : 600px){
  .task_box_holder {
    width: 100%;
  }
  .task_box_padding {
    padding: 0px;  
  }

}

.bbox_pos {
  display: block;
  position: relative;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
  
}

.box_bg {
  background: no-repeat center center;
  background-size: cover;
}

.home_block {
  padding-top: 100%;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  /*-webkit-opacity: 0;
  opacity: 0;*/
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  background-color: #f5f5f5;
}

.home_block_sug {
  padding-top: 100%;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  /*-webkit-opacity: 0;
  opacity: 0;*/
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  background-color: #f5f5f5;
}

.border20 {
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

@media (max-width: 600px) {
  .home_block {
    padding-top: 0%;
    height: 200px;
    border-bottom: 2px solid black;
  }
  
  .border20 {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}

.home_link {
  display: block;
  height: 34px;
  width: 190px;
  left: 50%;
  margin-left: -95px;
  bottom: 5%;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  /*-webkit-opacity: 0;
  opacity: 0;*/
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.home_link_txt {
  background: white;
  color: black;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 190px;
  text-align: center;
  font-family: 'Jeju Gothic', sans-serif;
  text-transform: uppercase;
  line-height: 34px;
  font-size: 16px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.home_link.over {
  margin-bottom: 2%;
}
.home_link.over .home_link_txt {
  background: black;
  color: white;
  margin-bottom: 2%;
}

.hl_block {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.hl_white {
  background: white;
  top: 16px;
  left: 16px;
  width: 0px;
  height: 0px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.hl_white.over {
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
}

.hl_txt {
  top: 0px;
  left: 0px;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  color: white;
  font-family: 'Clarendon_Light';
  text-transform: lowercase;
  font-size: 13px;
  letter-spacing: 1px;
}

.hl_txt.black {
  color: black;
  font-size: 13px;
  font-family: 'Clarendon_Medium';
}

.evpng {
  background-image: url('../images/special_event_180.png');
}
.rapng {
  background-image: url('../images/right_arrow.png');
}
.lapng {
  background-image: url('../images/left_arrow.png');
}

.xabfull_tbl,
.xabfull_tbl tr,
.xabfull_tbl td {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.sug_item_block {
  height: 100%;
}

.sug_event_holder {
  width: 180px;
  height: 113px;
  background-position: 0px 0px;
  top: 3%;
  left: 60%;
  margin-left: -120px;
}

.sug_title {
  font-size: 35px;
  line-height: 60px;
  color: black;
  /*text-transform: uppercase;
  font-family: 'Oswald_reg';*/
}
.sug_subtitle {
  font-family: 'Alwaysinmyheart';
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  top: 22%;
  padding-bottom: 20%;
  left: 2%;
  right: 8%;
  color: black;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .sug_title {
    font-size: 30px;
    line-height: 48px;
  }
  .sug_subtitle {
    font-size: 23px;
    line-height: 50px;
    top:15%;
    padding-bottom: 15%;
  }
}
@media (max-width: 600px) {
  .sug_title {
    font-size: 35px;
    line-height: 60px;
  }
  .sug_subtitle {
    font-size: 28px;
    line-height: 60px;
    top: 10%;
    padding-bottom: 5%;
  } 
}

.sug_prev,
.sug_next {
  left: 10px;
  top: 50%;
  margin-top: -25px;
  width: 39px;
  height: 36px;
  background-position: -286px -217px;
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -webkit-border-top-left-radius: 30px;
  -moz-border-radius-topright: 30px;
  -moz-border-radius-bottomright: 30px;
  -moz-border-radius-bottomleft: 30px;
  -moz-border-radius-topleft: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: rgba(0, 0, 0, 0);
}
.sug_prev:hover,
.sug_next:hover {
  background-color: white;
}
.sug_next {
  background-position: -322px -217px;
  left: auto;
  right: 10px;
}
@media (max-width: 600px) {
  .sug_prev {
    left: 5px;
  }
  .sug_next {
    right: 5px;
  }
}

.showmobile {
  display: none;
}

@media (max-width: 600px) {
  .hidemobile {
    display: none;
  }
  .showmobile {
    display: block;
  }
}