<!doctype html>
<html>
  
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <style>
      .container {
   
      }
      
      .row {
        
      }
      
      .right{
        float:right;
        text-align:right;

      }
  </style>
  
  <script type="text/javascript">
      var confirmCheck = false;
    
      function authSendOnclick() {
        alert("전송하였습니다.");
        document.getElementById("btnConfirm").disabled = false;
      }
  </script>
  
</head>

<body>
     
  <% include ../partials/navigation.ejs %>

  <script>
    var doc = document.querySelector('link[rel="import"]').import;
    // Grab DOM from doc.html's document.
    var text = doc.querySelector('.navbar navbar-default');
    document.body.appendChild(text.cloneNode(true));
  </script>
  
     
        <div class="container">
            나의 회선번호<span class="badge right">010-29**-49**</span>
            <p></p>
            <div class="panel panel-default">
              <div class="panel-heading">
                <p class="text-danger">이땡경 님이 사용중인 요금제</p>
              </div>
              <div class="panel-body">
                  <h2><%=data.prod_nm%></h2>
                  <div>- Data <%=data.prod_data%></div>
                  <div>- 집전화/이동전화 <%=data.prod_vo%></div>
                  <div>- 문자 <%=data.prod_sms%></div>
              </div>  
            </div>
        </div>
        <div class="section">
              <% include ../partials/footer.ejs %>
        </div>          

</body>
</html>