<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://v4.pingendo.com/assets/bootstrap/themes/teal.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="section">
    <div class="container-fluid"></div>
  </div>
  <div class="bg-faded section">
    <div class="container-fluid"></div>
  </div>
  <div class="section">
    <div class="container-fluid"></div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs"></ul>
        </div>
      </div>
    </div>
  </div>
  <nav class="bg-faded bg-primary navbar navbar-dark navbar-full">
    <a class="navbar-brand text-info">SKT MVNO</a>

    <ul class="nav navbar-nav pull-right">
      <li class="nav-item active">
        <a class="active nav-link" href="#">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">가입정보</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">요금제변경</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">일시정지</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Event</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">골드번호 이벤트</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
          <a class="dropdown-item" href="#">Action</a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="section text-info">
    <div class="container">
      <div class="row" draggable="true">
        <div class="col-lg-4 text-xs-left">
          <img class="center-block img-fluid m-y-1 text-xs-left" src="http://www.sktelink.com/IMG/os/common/ico_logo.png">
        </div>
        <div class="col-lg-4 text-xs-left">
          <h3 class="p-y-1 text-xs-left">이*경 고객님</h3>
        </div>
        <div class="col-lg-4">
          <h3 class="p-y-1 text-xs-left">010-12**-56**</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr draggable="true">
        </div>
      </div>
    </div>
  </div>
  <div class="section text-xs-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fa fa-4x fa-feed fa-fw m-y-1 m-y-lg text-primary"></i>
          <h3>Data</h3>
          <p class="m-y-1">(status bar)</p>
          <p class="text-xs-right">2.5GB</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-4x fa-fw fa-volume-control-phone m-y-1 m-y-lg text-primary"></i>
          <h3>Voice Call</h3>
          <p class="m-y-1">(status bar)</p>
          <p class="text-xs-right">259 min</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-4x fa-envelope fa-fw m-y-1 m-y-lg text-primary"></i>
          <h3>SMS/MMS</h3>
          <p class="m-y-1">(status bar)</p>
          <p class="text-xs-right">160 msgs</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <a href="myinfo_pg.html">
              <li class="list-group-item p-y-1">My 이동전화
                <i class="fa fa-fw fa-lg pull-right fa-angle-right"></i>
              </li>
            </a>
            <li class="list-group-item p-y-1">요금제 조회 변경
              <i class="fa fa-fw fa-lg pull-right fa-angle-right"></i>
            </li>
            <li class="list-group-item p-y-1">일시 정지
              <i class="fa fa-fw fa-lg pull-right fa-angle-right"></i>
            </li>
            <li class="list-group-item p-y-1">Event
              <i class="fa fa-fw fa-lg pull-right fa-angle-right"></i>
            </li>
          </ul>
          <div class="row text-muted">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-5">
                  <h4 class="card-title text-primary">골드번호 이벤트</h4>
                  <h6 class="card-subtitle text-muted">(2016.06.01 ~ 2016.06.30)</h6>
                </div>
                <div class="col-md-7">
                  <div class="card">
                    <div class="card-block"></div>
                    <img class="card-img-top center-block img-fluid text-xs-left" src="http://www.tworlddirect.com/pimg/mainImg/B2_1/7170_20160602162104.jpg" alt="Card image">
                    <div class="card-block"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel slide" data-interval="false" data-ride="carousel" id="carousel-example">
            <div class="carousel-inner">
              <div class="carousel-item active"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-info p-y-1 section text-inverse">
    <div class="container">
      <div class="row" draggable="true">
        <div class="col-lg-4 text-info">
          <h5 class="text-muted text-xs-center">Contact us</h5>
        </div>
        <div class="col-lg-4">
          <h5 class="text-muted text-xs-center">Notice</h5>
        </div>
        <div class="col-lg-4">
          <h5 class="text-muted text-xs-center">Privacy Policy</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="m-y-1 text-muted text-xs-center">COPYRIGHT SK TELECOM CO., LTD. ALL RIGHTS RESERVED.</p>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>




</body>

</html>