<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://v4.pingendo.com/assets/bootstrap/themes/teal.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="section">
    <div class="container-fluid"></div>
  </div>
  <div class="bg-faded section">
    <div class="container-fluid"></div>
  </div>
  <div class="section">
    <div class="container-fluid"></div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs"></ul>
        </div>
      </div>
    </div>
  </div>
  <nav class="bg-faded bg-primary navbar navbar-dark navbar-full">
    <a class="navbar-brand text-info">SKT MVNO</a>
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">Main</a>
      </li>
      <li class="nav-item">
        <a class="active nav-link" href="#">가입정보</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">요금제변경</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">일시정지</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Event</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">골드번호 이벤트</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
          <a class="dropdown-item" href="#">Action</a>
        </div>
      </li>
    </ul>
  </nav>

  <div class="m-y-1 section">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><a href="#" class="btn btn-block btn-primary-outline disabled">010 - 12** - 56**</a></div>

      </div>
      <div class="row">
        <div class="col-md-11">
          <hr draggable="true">
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><i class="fa fa-angle-right fa-fw fa-lg pull-left"></i></th>
                  <th class="text-info">가입정보</th>
                  <th class="text-xs-left">
                    <button type="submit" class="btn btn-primary" href="main.html">view_more</button>
                  </th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-muted">-</td>
                  <td class="text-muted">고객명</td>
                  <td class="text-muted text-xs-left">이*경</td>

                </tr>
                <tr>
                  <td class="text-muted">-</td>
                  <td class="text-muted">최종개통유형</td>
                  <td class="text-muted text-xs-left">기기변경</td>

                </tr>
                <tr>
                  <td class="text-muted">-</td>
                  <td class="text-muted">최종개통일자</td>
                  <td class="text-muted">2016/01/01</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><i class="fa fa-angle-right fa-fw fa-lg pull-left"></i></th>
                  <th class="text-info">가입정보</th>
                  <th>
                    <button type="submit" class="btn btn-primary" href="main.html">view_more</button>
                  </th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-muted">-</td>
                  <td class="text-muted">고객명</td>
                  <td class="text-muted">이*경</td>

                </tr>
                <tr>
                  <td class="text-muted">-</td>
                  <td class="text-muted">최종개통유형</td>
                  <td class="text-muted">기기변경</td>

                </tr>
                <tr>
                  <td class="text-muted">-</td>
                  <td class="text-muted">최종개통일자</td>
                  <td class="text-muted">2016/01/01</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><i class="fa fa-angle-right fa-fw fa-lg pull-left"></i></th>
                  <th class="text-info">가입정보</th>
                  <th>
                    <button type="submit" class="btn btn-primary" href="main.html">view_more</button>
                  </th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-muted">-</td>
                  <td class="text-muted">고객명</td>
                  <td class="text-muted">이*경</td>

                </tr>
                <tr>
                  <td class="text-muted">-</td>
                  <td class="text-muted">최종개통유형</td>
                  <td class="text-muted">기기변경</td>

                </tr>
                <tr>
                  <td class="text-muted">-</td>
                  <td class="text-muted">최종개통일자</td>
                  <td class="text-muted">2016/01/01</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-y-2 section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="">Lorem ipsum dolor sit amet, consectetur adipisici elit,
            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
            <br>Ut enim ad minim veniam, quis nostrud</p>
        </div>
      </div>
    </div>
  </div>


  <div class="bg-info p-y-1 section text-inverse">
    <div class="container">
      <div class="row" draggable="true">
        <div class="col-lg-4 text-info">
          <h5 class="text-muted text-xs-center">Contact us</h5>
        </div>
        <div class="col-lg-4">
          <h5 class="text-muted text-xs-center">Notice</h5>
        </div>
        <div class="col-lg-4">
          <h5 class="text-muted text-xs-center">Privacy Policy</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="m-y-1 text-muted text-xs-center">COPYRIGHT SK TELECOM CO., LTD. ALL RIGHTS RESERVED.</p>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>














</body>

</html>