<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="//pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span>Brand</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Contacts</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- -->
    <!-- -->
    <div class="section">
      <!-- 반복시작 -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <a href="#" class="btn btn-block btn-primary-outline disabled">010 - 12** - 56**</a>
          </div>
          <div class="col-md-11">
            <hr draggable="true">
          </div>
        </div>
      </div>
      <!-- 반복끝 -->
      <!-- 반복시작 -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      <i class="fa fa-angle-right fa-fw fa-lg pull-left"></i>
                    </th>
                    <th class="text-info">가입정보</th>
                    <th class="text-xs-left">
                      <button type="submit" class="btn btn-primary" href="main.html">view_more</button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-muted">-</td>
                    <td class="text-muted">고객명</td>
                    <td class="text-muted text-xs-left">이*경</td>
                  </tr>
                  <tr>
                    <td class="text-muted">-</td>
                    <td class="text-muted">최종개통유형</td>
                    <td class="text-muted text-xs-left">기기변경</td>
                  </tr>
                  <tr>
                    <td class="text-muted">-</td>
                    <td class="text-muted">최종개통일자</td>
                    <td class="text-muted">2016/01/01</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- 반복끝 -->
      <!-- 반복시작 -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      <i class="fa fa-angle-right fa-fw fa-lg pull-left"></i>
                    </th>
                    <th class="text-info">가입정보</th>
                    <th class="text-xs-left">
                      <button type="submit" class="btn btn-primary" href="main.html">view_more</button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-muted">-</td>
                    <td class="text-muted">고객명</td>
                    <td class="text-muted text-xs-left">이*경</td>
                  </tr>
                  <tr>
                    <td class="text-muted">-</td>
                    <td class="text-muted">최종개통유형</td>
                    <td class="text-muted text-xs-left">기기변경</td>
                  </tr>
                  <tr>
                    <td class="text-muted">-</td>
                    <td class="text-muted">최종개통일자</td>
                    <td class="text-muted">2016/01/01</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- 반복끝 -->
      <!-- 반복시작 -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      <i class="fa fa-angle-right fa-fw fa-lg pull-left"></i>
                    </th>
                    <th class="text-info">가입정보</th>
                    <th class="text-xs-left">
                      <button type="submit" class="btn btn-primary" href="main.html">view_more</button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-muted">-</td>
                    <td class="text-muted">고객명</td>
                    <td class="text-muted text-xs-left">이*경</td>
                  </tr>
                  <tr>
                    <td class="text-muted">-</td>
                    <td class="text-muted">최종개통유형</td>
                    <td class="text-muted text-xs-left">기기변경</td>
                  </tr>
                  <tr>
                    <td class="text-muted">-</td>
                    <td class="text-muted">최종개통일자</td>
                    <td class="text-muted">2016/01/01</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- 반복끝 -->
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                <br>Ut enim ad minim veniam, quis nostrud</p>
            </div>
          </div>
        </div>
      </div>
      <footer class="section section-primary">
        <div class="container">
          <div class="row">
            <div class="p-y-3 row text-xs-center">
              <div class="col-xs-4 col-md-NaN">
                <h5 class="text-center text-xs-center">Contact us</h5>
              </div>
              <div class="col-xs-4">
                <h5 class="text-center text-xs-center">Notice</h5>
              </div>
              <div class="col-xs-4">
                <h5 class="text-center text-xs-center">Privacy Policy</h5>
              </div>
            </div>
            <div class="col-sm-6">
              <p class="text-center">COPYRIGHT SK TELECOM CO., LTD. ALL RIGHTS RESERVED.</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>

</html>
