<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://v4.pingendo.com/assets/bootstrap/themes/teal.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="section">
    <div class="container-fluid"></div>
  </div>
  <div class="bg-faded section">
    <div class="container-fluid"></div>
  </div>
  <div class="section">
    <div class="container-fluid"></div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs"></ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-primary section">
    <div class="container">
      <div class="row">
        <div class="col-md-1"><a href="index.html"><i class="center-block fa fa-3x fa-arrow-left fa-fw pull-left text-info"></i></a></div>
      </div>
    </div>
  </div>
  <div class="m-a-0 p-y-2 section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-a-0 text-xs-left">


          <h1 class="p-y-2">Sign In</h1>
          <form class="">
            <div class="form-group">
              <label>Phone number</label>
              <input type="email" class="form-control" placeholder="010********">
            </div>
            <div class="form-group">
              <label>Birth date</label>
              <input type="password" class="form-control" placeholder="YYYYMMDD">
            </div>
          </form>
          <div class="form-group">
            <label>Key code</label>
            <input type="password" class="form-control" placeholder="****">
          </div>
          <a class="btn btn-primary" href="main.html">Submit</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 p-y-2 text-xs-left">
          <p class="" draggable="true">Lorem ipsum dolor sit amet, consectetur adipisici elit,
            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
            <br>Ut enim ad minim veniam, quis nostrud</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-info p-y-1 section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="pi-draggable pi-item">SKT MVNO</h1>
          <p>
            <strong>Company name, Inc.</strong>
            <br>795 Folsom Ave, Suite 600
            <br>San Francisco, CA 94107
            <br>
            <abbr title="Phone">P:</abbr>(123) 456-7890</p>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>














</body>

</html>