<div class="baboxfull sug_item border20 si_0">
	<div class="bbox sug_item_block border20" style="background-color:#f0b800;">
	    <table class='xabfull_tbl sug_tbl'>
	        <tr onclick="document.location = '/num_mng/goldList';" style="cursor:hand;">
	        <td>
	            <div class='bbox sug_subtitle'>응모하라!!</div> 
		        <div class='bbox sug_title'>골드번호 EVENT<br/>
		          <i class="fa fa-diamond fa-2x" aria-hidden="true"></i>
  		        </div>
		    </td>
		    </tr>
        </table>
	    <div class="babox evpng sug_event_holder"></div>
    </div>
</div>
<div class='baboxfull sug_item border20 si_1' style='display:none;'>
    <div class="bbox sug_item_block border20" style="background-color:#ab0f67;">
        <table class='xabfull_tbl sug_tbl'>
            <tr>
            <td>
                <div class='bbox sug_subtitle'>Data Dream</div> 
	            <div class='bbox sug_title'>데이터쿠폰 받기<br/>
                  <i class="fa fa-ticket fa-2x" aria-hidden="true"></i>
                </div>
            </td>
            </tr>
        </table>
        <div class="babox evpng sug_event_holder"></div>
    </div>		
</div>